@model IEnumerable<Multas1.Models.Agentes>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Agentes</h2>

<p>
    @Html.ActionLink("Criar Novo Agente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome) @*model => model.Nome ------> expressao Labda*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esquadra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fotografia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Esquadra)
        </td>
        <td>
            @*Html.DisplayFor(modelItem => item.Fotografia)*@
            <a href="~/imagens/@item.Fotografia" width="200" height="150"/>
            <img src="~/imagens/@item.Fotografia" width="50" height="37"/>
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
